### In this notebook we will be Authenticating Users with a Hybrid Authentication Technique

### Reading the dataset

In [6]:
import numpy as np
import pandas as pd


f_data = pd.read_csv('.\\data\\Fraud_data.csv')

### Selecting a sample of the dataset

In [7]:
auth = f_data.sample(5)
auth

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
11569,51007,1/18/2015 13:05,2/2/2015 20:48,41,IZDOQXGCOEXDW,SEO,Safari,M,28,1.302914e+09,0
92948,385689,1/4/2015 7:33,1/4/2015 7:33,64,KFEDHEDMSABVW,Direct,IE,F,32,3.647843e+09,1
80566,159762,7/13/2015 0:59,10/11/2015 21:16,23,EDBHTMGJMYOGR,SEO,Chrome,F,30,1.315330e+09,0
126723,240545,7/16/2015 15:21,9/27/2015 20:12,17,LPCYNMPZMREGF,Direct,Chrome,F,45,2.181233e+08,0
18229,241341,6/28/2015 4:18,7/18/2015 14:25,54,YEPIJEPUCRDJX,Ads,Chrome,M,18,3.601104e+09,0

### Authenticating users with Login credentials and Challenge Questions

In [8]:
genuine_user=auth['user_id'].where(auth['class']==0)
fraud_user=auth['user_id'].where(auth['class']==1)
gen=pd.DataFrame(genuine_user)
gen=gen.dropna()
gen['user_id']= gen['user_id'].astype(int)
fr=pd.DataFrame(fraud_user)
fr=fr.dropna()
fr['user_id']= fr['user_id'].astype(int)
index = gen.index
index.name = "Genuine Users"
index1 = fr.index
index1.name = "Fraud detected"
display(gen, fr)

               user_id
Genuine Users
11569            51007
80566           159762
126723          240545
18229           241341

                user_id
Fraud detected
92948            385689

In [11]:
def verify_user(us,pa):
    usrpass = database.loc[database.Username == us ]
    aa = usrpass.values.tolist()
    if (aa == []):
        print('Incorrect! Please try again')
    for item in aa:
        if (us == item[0] and pa == item[1]):
            print('Please provide an answer to this security question:', 
                 item[2])
            challenge_question = input('Answer:')
            if (challenge_question == item[3]):
                print('\nYou have been successfully authenticated! Please proceed to the transaction!')
            else:
                  print('\nIncorrect! Please try again')
        else:
            print('\nIncorrect! Please try again')

_fr = fr.shape[0]
database = pd.read_csv('.\\data\\Database.csv')

if fr.empty:
    print('No anomaly detected') 
elif (_fr == 1):
    print('User' , fr['user_id'].values,', suspicious activity has been detected on your account.'
        '\nPlease follow these steps to verify yourself'
        '\nPlease enter your login details:')        
    username = input('\nUsername:')
    password = input('Password:') 
    verify_user(username, password)       
else:
    print('Users' , fr['user_id'].values,', suspicious activity has been detected on your accounts.'
          '\nPlease follow these steps to verify yourself')
    for i in range(1,_fr+1):
        print(i,'.','Please enter your login details:')        
        username = input('\nUsername:')
        password = input('Password:') 
        verify_user(username, password)

User [385689] , suspicious activity has been detected on your account.
Please follow these steps to verify yourself
Please enter your login details:

Username:Thomas
Password:Tom_123

Incorrect! Please try again

In [4]:
database = pd.read_csv('.\\data\\Database.csv')
database.head()

  Username  Password                           Question   Answer
0     Watt  Watt_123             What is your hometown?    India
1     Zoom  Zoom_111         What is your favorite car?  Ferrari
2   Thomas  Tom_2020  What was your childhood nickname?    Tommy
3     John  John_990  What is your mothers middle name?     Sara